<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <group ns="usb_cam">
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <arg name="name" default="whycon"/>
  <arg name="targets" default="1"/>
  <arg name="outer_diameter" default=".55"/>
  <arg name="inner_diameter" default=".20"/>
  <arg name="input_queue_size" default="100"/>

  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="outer_diameter" value="$(arg outer_diameter)"/>
    <param name="inner_diameter" value="$(arg inner_diameter)"/> 
    <param name="input_queue_size" value="$(arg input_queue_size)"/> 
    <param name="name" value="$(arg name)"/>

    <remap to="/usb_cam/camera_info" from="/camera/camera_info" />
    <remap to="/usb_cam/image_rect_color" from="/camera/image_rect_color"/>
  </node>

  <!--node name="key_command" type="key_command.py" pkg="shravas"/-->
  <node name="guimain" type="QuadDrop.py" pkg="shravas" output="screen"/>
  <node name="engine" type="engine.py" pkg="shravas" output="screen"/>
  <node name="drone_pilot" type="pilot.py" pkg="shravas" output="screen"/>
</launch>
