<?xml version="1.0"?>
<launch>
	<arg name="tello_ip" default="192.168.10.1" />
	<arg name="tello_cmd_server_port"	default="8889" />
	<arg name="local_cmd_client_port"	default="8890" />
	<arg name="local_vid_server_port"	default="6038" />
	<arg name="camera_calibration"		default="$(find tello_driver)/cfg/960x720.yaml" />    
	<arg name="namespace"			default="tello" />

	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>

	<group ns="usb_cam">
		<node pkg="image_proc" type="image_proc" name="image_proc"/>
  	</group>

	<arg name="name" default="whycon"/>
	<arg name="targets" default="1"/>
	<arg name="outer_diameter" default=".55"/>
	<arg name="inner_diameter" default=".20"/>
	<arg name="input_queue_size" default="100"/>

	<node name="whycon" type="whycon" pkg="whycon" output="screen">
		<param name="targets" value="$(arg targets)"/>
		<param name="outer_diameter" value="$(arg outer_diameter)"/>
		<param name="inner_diameter" value="$(arg inner_diameter)"/> 
		<param name="input_queue_size" value="$(arg input_queue_size)"/> 
		<param name="name" value="$(arg name)"/>

		<remap to="/usb_cam/camera_info" from="/camera/camera_info" />
		<remap to="/usb_cam/image_rect_color" from="/camera/image_rect_color"/>  

	</node>

	<!--node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/whycon/image_out"/>
		<param name="autosize" value="true" />
	</node-->


	<node name="key_command" type="key_command.py" pkg="shravas"/>
	<node name="tello_driver_node" type="engine.py" pkg="shravas" output="screen"/>
	<node name="qrcode" type="feed.py" pkg="shravas" output="screen"/>
	<node name="snr" type="object_tracker.py" pkg="shravas" output="screen"/>

	<node pkg="rqt_image_view" type="rqt_image_view" name="overhead_cam" args="/whycon/image_out"/>
	<node pkg="rqt_image_view" type="rqt_image_view" name="drone_feed" args="/shravas/feed"/>
	<node pkg="rqt_image_view" type="rqt_image_view" name="object_tracker" args="/snr/image_out"/>

	<!--node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/shravas/feed"/>
		<param name="autosize" value="true" />
	</node-->
</launch>
